*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  font-family: "Inter", sans-serif;
  color: var(--gray-800, #1d2939);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  background-color: #fff;
  max-width: 1440px;
  max-height: 900px;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

img,
picture,
svg {
  max-width: 100%;
  /* display: block; */
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: smooth;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  max-width: 1280px;
  max-height: 746px;
  margin-inline: auto;
  /* border: 1px solid yellow; */
}
